body{background-image:url(../images/patterns/ochre.jpg)}#main_menu{background-color:#916406;background-image:url("../images/menu_bg_thm8.jpg")}#main_menu
li{background-image:none}#main_menu li:hover{background-color:#AB7705 !important}#main_menu a:hover{background-color:#AB7705;background-image:none}#footer{background-color:#916406}.sf-menu ul
li{background-color:#916406 !important}.sf-menu ul li, .sf-menu ul li
li{border-color:#8A5F05 !important;border-top:none}