body{background-image:url(../images/patterns/fuscia01.jpg)}#banner{background-image:url(../images/banners/banner01.jpg)}#main_menu{background-color:#024f5b;background-image:url("../images/menu_bg_thm7.jpg")}#main_menu
li{background-image:none}#main_menu li:hover{background-color:#046F80 !important}#main_menu a:hover{background-color:#046F80;background-image:none}#sf-menu ul li, #sf-menu ul li
li{border:1px
solid #187f8e}#footer{background-color:#024f5b}.sf-menu ul
li{background-color:#024f5b !important}.sf-menu ul li, .sf-menu ul li
li{border-color:#01525F !important;border-top:none}
