body{background-image:url(../images/patterns/dpurple.jpg)}#main_menu{background-color:#4f022c;background-image:url("../images/menu_bg_thm4.jpg")}#main_menu
li{background-image:none}#main_menu li:hover{background-color:#7F0548 !important}#main_menu a:hover{background-color:#7F0548;background-image:none}#footer{background-color:#4f022c}.sf-menu ul
li{background-color:#4f022c !important}.sf-menu ul li, .sf-menu ul li
li{border-color:#4F032C !important;border-top:none}