body{background-image:url(../images/patterns/mehndi-green.jpg)}#main_menu{background-color:#464102;background-image:url("../images/menu_bg_thm5.jpg")}#main_menu
li{background-image:none}#main_menu li:hover{background-color:#827804 !important}#main_menu a:hover{background-color:#827804;background-image:none}#footer{background-color:#464102}.sf-menu ul
li{background-color:#464102 !important}.sf-menu ul li, .sf-menu ul li
li{border-color:#544D01 !important;border-top:none}