.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 154px;
    height: 0px;
    padding: 8px 24px 9px 0;
    font-size: 13px;
    line-height: 30px;
    border: 2px solid #ccc;
    /* border-radius: 8px; */
    outline: none;
    /* padding-left: 0; */
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 100%;
    margin-top: 1px;
    padding: 0px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    max-height: 312px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
}

.tt-suggestion {
    padding: 3px 5px;
    font-size: 14px;
    line-height: 18px;
}

.tt-suggestion:hover {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

#SearchData {
    width: 179px !important;
}

.twitter-typeahead {
    float: left;
}

#search_home .tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
#search_home .tt-hint {
    width: 157px;
    height: 6px;
    padding: 8px 24px 9px 0;
    font-size: 13px;
    line-height: 30px;
    border: 2px solid #ccc;
    outline: none;
    top: 1px !important;
    left: 2px !important;
}

.dictionary-srch-frm .tt-query,
.dictionary-srch-frm .tt-hint {
    width: 178px;
    height: 6px;
    padding: 8px 24px 9px 0;
    font-size: 13px;
    line-height: 30px;
    border: 2px solid #ccc;
    outline: none;
    top: 1px !important;
    left: 2px !important;
}

.dictionary-srch-frm .tt-menu {
    width: 205px;
}